{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Fusion Limited</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header >
        <div class="header">
            <div class="logo">
                <img src="images/sfl_logo" alt="Sound Fusion Logo">
    
            </div>
            <nav class="nav-links">
                <ul>
                    <li><a href="https://www.soundfusion.co.ke/">Sound Fusion limited Website</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'signup' %}">sign up</a></li>
                    <li><a href="{% url 'signup' %}">About Us</a></li>
                    <li><a href="{% url 'signup' %}">Services</a></li>
                </ul>
            </nav>
        </div>
        
    </header>
    <main class="main">
        <div class="hero">
            <div class="hero-txt">
                <h3>
                    {%if user.is_authenticated%}
                    {{user.name}}
                    {%endif%}
                </h3>
                <h1>Welcome To Sound Fusion<br>Proceed to Login</h1>
                <br><br>
                <h2>Team talented with the best employees.We appreciate You</h2>
                <div class="hero-links">
                    <button><a href="">Contact us</a></button>
                    <button><a href="">Watch Video</a></button>
                    

                </div>

            </div>
            <form class="login_form" action="login" method="POST">
                {%csrf_token%}
                <p>Email:</p>
                <input type="email" name="email" >
                <p>Password:</p>
                <input type="password" name="password"><br><br>
                <input type="submit">
    
            </form>
        </div>
        
    </main>
    <footer></footer>
    
</body>
</html>