<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
</head>
<body>
    <h1>Login Below </h1>
    {%for message in messages%}
    {{message}}
    {%endfor%}
    <form action="login" method="POST">
        {%csrf_token%}
        <p>Email:</p>
        <input type="email" name="email">
        <p>password:</p>
        <input type="password" name="password"><br><br>
        <input type="submit">
    </form>
    
</body>
</html>